from sklearn.model_selection import train_test_split
from typing import NoReturn
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt

